/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


*{
    margin: 0px;
    padding:0px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix{
    float: none;
}
@font-face {
    font-family: "nevis";
    src: url(../fonts/navis.ttf)
}
header{
    min-height: 160px;
    overflow: hidden;
    float: none;
}
footer{
    overflow: hidden;
    float: none;
    min-height: 100px;
    background-color: #e2e2e2;
    
}
#slider{
    width:100%;
    min-height: 430px;
    border-bottom:;
    background-color: #f4f4f4;
    overflow: hidden;
    border:;
    float: none;
}

#content{
    width: ;
    min-height: 290px;
    background-color: #f4f4f4;
    overflow: hidden;
    border:;
    float: none;
}

#portfolio {
    min-height: 235px;
    overflow: hidden;
    border: ;
    float: none;
    background-color: #f4f4f4;
}

#blog {
    overflow: hidden;
    min-height: 175px;
    background-color: #f4f4f4;
    float: none;
}

.header-upper {
    min-height: 18px;
    background-color: #090909;
    
}

.header-lower {
    min-height: 140px;
    background-color: #f4f4f4;
    border-bottom:;
    
}
.container-header-lower{
    min-height: 140px;
    background-color: #f4f4f4;
    width: 1080px;
    margin: 0px auto;
    border-bottom: 2px solid #c0c0c0;
}

.logo {
    height: 108px;
    width: 201px;
    border: ;
    padding-top: 21px;
}

.contact-mail {
    width: 188px;
    height: 25px;
    border:;
    margin-top: 15px;
    padding-right: 8px;
    color: #999898;
}

.contact-mail-text {
}

.menubar {
    width: 800px;
    height: 40px;
    border: ;
    margin-top: 23px;
    margin-left:;
    margin-bottom:;
}
.menubar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
.menubar ul li{
    float: left;
    
}
.menubar ul li a{
    text-decoration: none;
    padding: 0px 29px;
    color: #fe9b00;
}
.menubar ul li a:hover{
    color: black;
    padding: ;
}

    

#slider {
}

.container-slider {
    background-image: url(../img/slider-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 1080px;
    height: 380px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 22px;
}

.container-slider h1 {
    font-family: nevis;
    font-size: 64pt;
    padding-top: 0px;
    padding-left: 25px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    line-height: 85%;
}

.services {
    position: absolute;
    width: 460px;
    height: 45px;
    background-color: #090909;
    color: white; 
    left: 3%;
    bottom: 11%;
}

.text-label {
    padding: 12px;
    color: #999898;
    text-transform: uppercase;
}

.text-link {
    padding: 12px;
    color: #fe9b00;
    text-transform: uppercase;
    text-decoration: none;
    color: #fe9b00;
}

.promo-image1 {
    position: absolute;
    left: 57%;
    bottom: 0%;
    box-shadow: 2px 2px 50px #000000;
}

.promo-image2 {
    position: absolute;
    bottom: 0px;
    left: 70%;
    box-shadow: 2px 2px 50px #000000;
}

.image-bar1 {
    position: absolute;
    left: 0%;
    bottom: 134%;
    border: 1px solid black;
}
.image-bar1 img {
    position: absolute;
    left: 0%;
    bottom: 100%;
}

.image-bar2 img {
    position: absolute;
    left: 0%;
    bottom: 100%;
}



.container-content {
    min-height: 290px;
    width: 1080px;
    border: ;
    margin: 0px auto;
    border-top: 2px solid #c0c0c0;
    padding-top: 20px;
}
.common-style{
    min-height: 370px;
    width: 324px;
    border: ;
    margin-right: 47px;
    padding-top: 10px;
   
}
.common-style:last-child{
    margin-right: 0px;
}
.about-us {
}

.about-us-header {
    border-bottom: 7px solid #090909;
    
}

.about-header {
    margin-left:;
}


.about-us-content {
    padding-top: 10px;
}

.about-content {
    color: #8f8f8f;
}
.about-us-content a{
    text-decoration: none;
    font-weight: bolder;
    color: #fe9b00;
}

.our-benifits {
}

.our-benifits-header {
    border-bottom: 7px solid #090909;
    
}

.benifits-header {
    margin-left: ;
}

.our-benifits-content {
}

.our-benifits-content-wrapper {
    padding-top: 10px;
}

.image-benifits {
    
}

.benifits-content {
    color: #8f8f8f;
}

.testimonial {
}

.testimonial-header {
    border-bottom: 7px solid #090909;
    
}

.tesmonial-head {
        margin-left:;

}

.testimonial-content {
    padding-top: 10px;
}

.content-testimonial {
    color:#8f8f8f;

}

.tesmonial-author {
    font-style: italic;
}

.container-portfolio {
    width: 1080px;
    border: ;
    margin: 0px auto;
   border-top: 2px solid #c0c0c0;
}

.portfolio-header {
    margin-top:15px;
}

.head-portfolio {
   
}
.head-portfolio{
    margin-left:;
}
.portfolio-common {
    height: 143px;
    width: 225px;
    margin-right: 55px;
    margin-top: 17px;
}
.portfolio-common:last-child{
margin-right: 0px;
}


.portfolio-image {
    position: relative;
}
.view{
    position: absolute;
    right: 11px;
    top: 113px;
    border: ;
    width:;
    background-image: url(../img/view-background.png);
    height: 22px;
    width: 76px;
    
}
.view a{
    text-decoration: none;
    width:;
    color: black;
    font-weight: bold;
    margin-left: 8px;
    
}


.container-blog {
    min-height: 175px;
    width: 1080px;
    margin: 0px auto;
    border-top: 2px solid #c0c0c0;
}
 
.blog-left {
    min-height: 155px;
    width: 680px;
    padding-top: 12px
}
.blog-left-head{
    
}
.blog-arrow-image img{
    
}

.blog-left-header {
    margin-top: 10px;
}

.blog-left-content {
    margin-top: 15px;
    color: #8f8f8f;
}

.blog-right {
    margin-top: 22px;
    margin-right: 60px;
}

.blog-right-header {
    margin-top: 
}

.blog-right-head {
    margin-right:;
}

.social-icon {
    padding: 5px 19px;
}
.container-footer{
    width: 1080px;
    min-height: 100px;
    background-color: #e2e2e2;
    border-top: ;
    margin: 0px auto;
    
}
.menubar-bottom{
    min-height: 40px;
    width: 600px;
    margin-top: 27px;
}
.menubar-bottom ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menubar-bottom ul li{
    float: left;
}
.menubar-bottom ul li a{
    color: #9b9b9b;  
    text-decoration: none;
    padding-right: 10px;
    text-decoration: none;
}
.menubar-bottom ul li a:hover{
    color: black;
}

.copyright{
    color: #8f8f8f;
}
.logo-bottom{
    
    padding-bottom: 20px;
    height: 75px;
    width: 135;
    
}
.logo-bottom img{
    height: 75px;
    width: 135;
    padding-top: 12px;
    padding-right: 13px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
