/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


*{
    margin: 0px;
    padding:0px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clearfix{
    float: none;
}
@font-face{
    font-family:"ARDECODE";
    src:url(../fonts/ARDECODE.ttf);
}

header{
    background: #2a2e33;
    min-height: 100px;
    overflow: hidden;
}
#banner {
    background: #00CCFF;
    min-height: 460px;
    position: relative;
}

#select-room-type {
  -moz-appearance: none;
  background: #fff url("../img/") no-repeat scroll 5% center;
  border: medium none;
  border-radius: 10px;
  height: 45px;
  padding-left: 11%;
  width: 255px;
}


#pakage-booking {
    background: url(../img/slider_background.jpg) no-repeat center center;
    background-size: cover;
    min-height: 500px;
    border-bottom: 2px solid #e7e8e8;
    overflow: hidden;
    
}

#room-type {
    min-height: 950px;
    background: url(../img/room-type-bg.jpg ) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#testimonial {
    background: #e7cb2c;
    min-height: 185px;
    position: relative;
    
}

#username {
}

#passowrd {
}

header{
    background: #2a2e33;
    min-height: 100px;
    overflow: hidden;
    
}
.container_header{
  margin: 0 auto;
  width: 1226px;
}
.logo {
    width: 404px;
    height: 26px;
  
    padding-top: 42px;
    float: left;
    
}

.sub-title {
    font-family: Quicksand;
    font-size: 14pt;
    color: #797b7d;
}

.menu-bar {
    width: 786px;
    float: right;
    
}
.menu-bar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menu-bar ul li{
    float: left;
}
.menu-bar ul li a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Droid Sans;
    font-size: 13pt;
    padding: 42px 22px;
}
.menu-bar ul li a:hover{
    background-color: #1e2329;
    padding: 40px 22px;
    border-top: 4px solid #ffd700;
}

.banner-caption {
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  width: 740px;
}

.welcome-txt {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 30pt;
    color: #fff;
}

.caption-title {
    font-family: Droid Sans;
    font-weight: bold;
    color: #fff;
    font-size: 60pt;
}

.facilities {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 30pt;
    color: #fff;
}

.view-pricing {
  background: #2a2e33 none repeat scroll 0 0;
  bottom: -11%;
  height: 102px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: 1064px;
}

.form-group {
    float: left;
    margin-left: 11px;
}

.form-group label{
    font-family: Quicksand;
    font-weight: lighter;
    color: #c0bd0b;
    font-size: 18pt;
}



.common-date {
    width: 255px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: url(../img/date-icon.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 5%;
    padding-left: 11%;
}

.depature.common-date {
}

.view-price-btn {
    width: 175px;
    height: 45px;
    background-color: #ffd700;
    font-family: Droid Sans;
    font-weight: bold;
    font-size: 18pt;
    border: none;
    border-radius: 10px;
    margin-top: 32px;
}

.pakage-booking-title {
  margin: 0px auto;
  min-height: 107px;
  text-align: center;
  width: 1165px;
  padding-top: 79px;
}
.pakage-booking-title h1{
    font-family: ARDECODE;
    font-size: 60pt;
    color: #2a2e33;
    margin: 0px;
}
.pakage-booking-title p{
    font-family: Quicksand;
    font-size: 14pt;
    color: #2a2e33;
    font-weight: normal;
    
}

.pakage-slider {
    width: 1035px;
    height: 230px;
    margin: 0 auto;
}

.left-indicator {
    margin-top: 10%;
}

.single-item {
  background-color: #fff;
  border: 2px solid #2a2e33;
  border-radius: 50%;
  float: left;
  height: 215px;
  margin-left: 6%;
  width: 225px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.right-indicator {
    margin-top: 10%;
}

.room-type-title {
  height: 75px;
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.room-type-title h1 {
  font-family: ARDECODE;
  font-size: 60pt;
  margin: 0;
  padding-top: 35px;
}

.all-room-type {
    width: 1190px;
    
    margin: 35px auto;
}

.single-room-type {
  float: left;
  height: 279px;
  margin-left: 12px;
  margin-top: 53px;
  text-align: center;
  width: 380px;
}

.single-room-type h1 {
  font-family: Quicksand;
  font-size: 22pt;
  font-weight: normal;
}
.single-room-type p{
    font-family: Quicksand;
    font-weight: normal;
    font-size: 20pt;
}

.room-image {
}

.room-type-data {
}

.short-intro {
}

.room-facility {
}

.testimonial-wrapper{
    width:1300px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}

.testimonial-data {
    width: 875px;
    min-height: 95px;
    float: left;
    padding-top: 45px;
    font-family: Quicksand;
    color: #fff;
}

.testimonial-data h1 {
  font-size: 36pt;
  font-weight: normal;
  margin: 0;
}


.comments {
    font-weight: normal;
    font-size: 14pt;
}

.author {
    font-weight: normal;
    font-size: 14pt;
}


.person-image {
  bottom: -37%;
  position: absolute;
  right: 0;
}



footer {
  background: #333333 none repeat scroll 0 0;
  border-bottom: 78px solid #1f1f1f;
  min-height: 358px;
  overflow: hidden;
  padding-bottom: 69px;
}

.footer-wrapper{
    width: 1370px;
    min-height: 188px;
    margin: 0 auto;
    color: #fff;
    
}

.about-hotel {
    width: 241px;
    min-height: 200px;
    float: left;
}

.about-hotel h1 ,.latest-news h1 ,.join-dulux h1 ,.member-area h1{
    font-family: Droid Sand;
    font-size: 18pt;
    color: #dbdbdb;
    text-transform: uppercase;
    
}

.footer-description {
    font-family: Quicksand;
    font-size: 14pt;
    
    
}

.latest-news {
    width: 265px;
    min-height: 200px;
    float: left;
    margin-left: 30px;
}


.single_news {
    font-family: Quicksand;
    font-size: 14pt;
    text-align: left;
    margin-top: 10px;
}

.date {
    font-family: Quicksand;
    font-size: 14pt;
    color: #e7eb2d;
}

.join-dulux {
    width: 460px;
    min-height: 200px;
    float: left;
    margin-left: 30px;
}

.read-more {
    
    border: none;
    border-radius: 5px;
    background-color: #e7cb2c;
    font-family: Quicksand;
    font-size: 14pt;
    font-weight: bold;
    padding: 10px;
    margin-top: 25px;
    color: #000;
}

.member-area {
    width: 210px;
    min-height: 200px;
    float: left;
    margin-left: 30px
}
    


.member-form-group {}
.member-form-group label {
    font-family: Quicksand;
    font-size: 12pt;
    font-weight: normal;
    color: #dbdbdb;
}

.username {
  background-color: transparent;
  border: 2px solid #2c2c2c;
  border-radius: 15px;
  padding: 10px 29px;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
